<div id="item">
  <h2><%= @item.name %></h2>
  <% if @item.belongs_to?(current_user) %>
    <%= link_to "Edit", edit_user_item_path(@item.user_id, @item.id) %>
  <% else %>
    <%= link_to "Reserve Item", new_item_reservation_path(@item.id) %>
  <% end %>

  <div id="reservations">
    <% @item.reservations.find_all_by_user_id(current_user.id).each do |request| %>
      <p>Starts: <%= request.start_date %>, Ends: <%= request.end_date %>, Status: <%= request.status.name %></p>
    <% end %>
  </div>
</div>